<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--    不用注解 用接口-->
    <!--    处理器映射器 要写 <bean id="/hello1" class="com.wu.pojo.HelloController"/> -->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <!--    处理器适配器-->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <!--用注解-->
    <!--自动扫描包-->
    <context:component-scan base-package="com.wu.pojo"/>
    <!--注解驱动-->
    <mvc:annotation-driven/>
    <!--默认资源过滤-->
    <mvc:default-servlet-handler/>


    <!--ViewResolver视图解析器
    1获取了ModelAndView的数据
    2解析ModelAndView的视图名字
    3拼接视图名字，找到对应的视图
    4将数据渲染到视图上
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver">
        <!-- 前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--Handel 根据url查找处理器 -->
    <bean id="/hello1" class="com.wu.pojo.HelloController"/>
    <!--springmvc的执行流程
    用户1、发送请求 http://localhost:8081/hello1 -》前端控制器 DispatcherServlet 代码对应web.xml -》
       2、委托请求给处理器 springmvc.xml里的处理器映射器、处理器适配器 这里简单理解HelloController
       3、4没写 -》5、模型和视图ModelAndView -》6、渲染视图 Model到视图-》
       7、返回控制 视图到前端控制器DispatcherServlet-》用户能看到结果   结果：Hello SpringMVC!

       Controller调业务层
       Controller-》Model
       ViewResolver-》View

       -->
</beans>